@font-face {
    font-family: 'PT Serif Caption Italic';
    src: url('ptz56f-webfont.eot');
    src: url('ptz56f-webfont.eot?#iefix') format('embedded-opentype'),
         url('ptz56f-webfont.woff') format('woff'),
         url('ptz56f-webfont.ttf') format('truetype'),
         url('ptz56f-webfont.svg#pt_serif_captionitalic') format('svg');
}