@font-face {
    font-family: 'PT Sans Pro Narrow Demi Regular';
    src: url('ptn67-webfont.eot');
    src: url('ptn67-webfont.eot?#iefix') format('embedded-opentype'),
         url('ptn67-webfont.woff') format('woff'),
         url('ptn67-webfont.ttf') format('truetype'),
         url('ptn67-webfont.svg#pt_sans_pro_narrow_demiRg') format('svg');
}