@font-face {
	font-family: 'PT Sans Pro Narrow Light Regular';
	src: url('ptn47-webfont.eot');
	src: url('ptn47-webfont.eot?#iefix') format('embedded-opentype'),
		url('ptn47-webfont.woff') format('woff'),
		url('ptn47-webfont.ttf') format('truetype'),
		url('ptn47-webfont.svg') format('svg');
}