@font-face {
    font-family: 'PT Sans Narrow Demi Regular';
    src: url('ptn57f-webfont.eot');
    src: url('ptn57f-webfont.eot?#iefix') format('embedded-opentype'),
         url('ptn57f-webfont.woff') format('woff'),
         url('ptn57f-webfont.ttf') format('truetype'),
         url('ptn57f-webfont.svg#pt_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Narrow Demi Bold';
    src: url('ptn77f-webfont.eot');
    src: url('ptn77f-webfont.eot?#iefix') format('embedded-opentype'),
         url('ptn77f-webfont.woff') format('woff'),
         url('ptn77f-webfont.ttf') format('truetype'),
         url('ptn77f-webfont.svg#pt_sans_narrowbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Pro Narrow Demi Regular';
    src: url('ptn67-webfont.eot');
    src: url('ptn67-webfont.eot?#iefix') format('embedded-opentype'),
         url('ptn67-webfont.woff') format('woff'),
         url('ptn67-webfont.ttf') format('truetype'),
         url('ptn67-webfont.svg#pt_sans_pro_narrow_demiRg') format('svg');
}

@font-face {
    font-family: 'PT Serif Caption Regular';
    src: url('ptz55f-webfont.eot');
    src: url('ptz55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('ptz55f-webfont.woff') format('woff'),
         url('ptz55f-webfont.ttf') format('truetype'),
         url('ptz55f-webfont.svg#pt_serif_captionregular') format('svg');
}

@font-face {
    font-family: 'PT Sans Pro Extra Bold Regular';
    src: url('pts85-webfont.eot');
    src: url('pts85-webfont.eot?#iefix') format('embedded-opentype'),
         url('pts85-webfont.woff') format('woff'),
         url('pts85-webfont.ttf') format('truetype'),
         url('pts85-webfont.svg#pt_sans_pro_extra_boldregular') format('svg');
}

@font-face {
    font-family: 'PT Serif Caption Italic';
    src: url('ptz56f-webfont.eot');
    src: url('ptz56f-webfont.eot?#iefix') format('embedded-opentype'),
         url('ptz56f-webfont.woff') format('woff'),
         url('ptz56f-webfont.ttf') format('truetype'),
         url('ptz56f-webfont.svg#pt_serif_captionitalic') format('svg');
}

@font-face {
	font-family: 'PT Sans Pro Condensed Demi Regular';
	src: url('pts67-webfont.eot');
	src: url('pts67-webfont.eot?#iefix') format('embedded-opentype'),
		url('pts67-webfont.woff') format('woff'),
		url('pts67-webfont.ttf') format('truetype'),
		url('pts67-webfont.svg') format('svg');
}

@font-face {
	font-family: 'PT Sans Pro Narrow Light Regular';
	src: url('ptn47-webfont.eot');
	src: url('ptn47-webfont.eot?#iefix') format('embedded-opentype'),
		url('ptn47-webfont.woff') format('woff'),
		url('ptn47-webfont.ttf') format('truetype'),
		url('ptn47-webfont.svg') format('svg');
}

@font-face {
	font-family: 'PT Serif Regular';
	src: url('ptf55f-webfont.eot');
	src: url('ptf55f-webfont.eot?#iefix') format('embedded-opentype'),
		url('ptf55f-webfont.woff') format('woff'),
		url('ptf55f-webfont.ttf') format('truetype'),
		url('ptf55f-webfont.svg') format('svg');
}

@font-face {
    font-family: 'PT Sans Caption Regular';
    src: url('ptc55f-webfont.eot');
    src: url('ptc55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('ptc55f-webfont.woff') format('woff'),
         url('ptc55f-webfont.ttf') format('truetype'),
         url('ptc55f-webfont.svg#pt_sans_captionregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Pro Narrow Extra Bold Regular';
    src: url('ptn87-webfont.eot');
    src: url('ptn87-webfont.eot?#iefix') format('embedded-opentype'),
         url('ptn87-webfont.woff') format('woff'),
         url('ptn87-webfont.ttf') format('truetype'),
         url('ptn87-webfont.svg#pt_sans_pro_narrow_extra_boRg') format('svg');
    font-weight: normal;
    font-style: normal;
}