@color-normal: #a7a9ac;
@color-invert: #a64124;
@color-bown: #562a1d;

@buttons-width: 100px;
@button-size: 80px;

#Buttons {
	position: fixed;
	z-index: 1000;
	top: 0px;
	right: 0px;
	width: @buttons-width;
	height: 100%;
	div {
		position: absolute;
		background-size: contain;
		width: @button-size;
		height: @button-size;
		p {
			font-family: "PT Sans Pro Narrow Demi Regular";
			font-size: 10pt;
			letter-spacing: 0.5px;
			line-height: 13px;
			bottom: -60px;
			left: -10px;
			text-align: center;
			position: relative;
			width: 130%;
		}
/*
		p {
			font-family: "PT Sans Pro Narrow Demi Regular";
			font-size: 11pt;
			letter-spacing: 0.5px;
			line-height: 13px;
			bottom: -60px;
			left: -4px;
			text-align: center;
			position: relative;
			width: 118%;
		}*/
		&.normal {
			color: @color-normal;
		}
		&.invert {
			color: @color-invert;
		}
		&#Menu, &#Plan, &#Audio, &#Route, &#Photo, &#Panorama, &#Location, &#Temples {
			opacity: 1;
			z-index: 1000;
		}
		
		&#Menu {top: 40px / 2;}
		&#Eye {top: 296px / 2;}
		&#Text {top: 531px / 2;}
		&#Plan {top: 919px / 2;}
		&#Audio {top: 1145px / 2;}
		&#Route,&#Photo {top: 1372px / 2;}
		&#Panorama,&#Location {top: 1597px / 2;}
		&#Temple {top: 1822px / 2;}
		
		&#Menu {
			display: block;
			&.normal {
				background-image: url(../img/buttons/contents.png);
				transform:translate3d(0,0,0);
				&.brown {
					background-image: url(../img/buttons/contents_brown.png);
					color: @color-bown;
				}
			}
			&.invert {
				background-image: url(../img/buttons/contents_invert.png);
				&.brown {
					background-image: url(../img/buttons/contents_invert_brown.png);
					color: @color-bown;
				}
			}
		}
		&#Eye {
			&.normal {
				background-image: url(../img/buttons/eye.png);
			}
			&.invert {
				background-image: url(../img/buttons/eye_invert.png);
			}
		}
		&#Text {
			&.normal {
				background-image: url(../img/buttons/text.png);
			}
			&.invert {
				background-image: url(../img/buttons/text_invert.png);
			}
		}
		&#Plan {
			&.normal {
				background-image: url(../img/buttons/plan.png);
			}
			&.invert {
				background-image: url(../img/buttons/plan_invert.png);
			}
		}
		&#Audio {
			&.normal {
				background-image: url(../img/buttons/audio.png);
			}
			&.invert {
				background-image: url(../img/buttons/audio_invert.png);
			}
		}
		&#Route {
			&.normal {
				background-image: url(../img/buttons/marshrut.png);
			}
			&.invert {
				background-image: url(../img/buttons/marshrut_invert.png);
			}
		}
		&#Photo {
			&.normal {
				background-image: url(../img/buttons/photo.png);
			}
			&.invert {
				background-image: url(../img/buttons/photo_invert.png);
			}
		}
		&#Panorama {
			&.normal {
				background-image: url(../img/buttons/panorama.png);
			}
			&.invert {
				background-image: url(../img/buttons/panorama_invert.png);
			}
		}
		&#Location {
			&.normal {
				background-image: url(../img/buttons/mesto.png);
			}
			&.invert {
				background-image: url(../img/buttons/mesto_invert.png);
			}
		}
		&#Temple {
			&.normal {
				background-image: url(../img/buttons/hramy.png);
			}
			&.invert {
				background-image: url(../img/buttons/closed.png);
				color: transparent;
			}
		}
	}
}