#Buttons {
  position: fixed;
  z-index: 1000;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 100%;
}
#Buttons div {
  position: absolute;
  background-size: contain;
  width: 80px;
  height: 80px;
  /*
		p {
			font-family: "PT Sans Pro Narrow Demi Regular";
			font-size: 11pt;
			letter-spacing: 0.5px;
			line-height: 13px;
			bottom: -60px;
			left: -4px;
			text-align: center;
			position: relative;
			width: 118%;
		}*/

}
#Buttons div p {
  font-family: "PT Sans Pro Narrow Demi Regular";
  font-size: 10pt;
  letter-spacing: 0.5px;
  line-height: 13px;
  bottom: -60px;
  left: -10px;
  text-align: center;
  position: relative;
  width: 130%;
}
#Buttons div.normal {
  color: #a7a9ac;
}
#Buttons div.invert {
  color: #a64124;
}
#Buttons div#Menu,
#Buttons div#Plan,
#Buttons div#Audio,
#Buttons div#Route,
#Buttons div#Photo,
#Buttons div#Panorama,
#Buttons div#Location,
#Buttons div#Temples {
  opacity: 1;
  z-index: 1000;
}
#Buttons div#Menu {
  top: 20px;
}
#Buttons div#Eye {
  top: 148px;
}
#Buttons div#Text {
  top: 265.5px;
}
#Buttons div#Plan {
  top: 459.5px;
}
#Buttons div#Audio {
  top: 572.5px;
}
#Buttons div#Route,
#Buttons div#Photo {
  top: 686px;
}
#Buttons div#Panorama,
#Buttons div#Location {
  top: 798.5px;
}
#Buttons div#Temple {
  top: 911px;
}
#Buttons div#Menu {
  display: block;
}
#Buttons div#Menu.normal {
  background-image: url(../img/buttons/contents.png);
  transform: translate3d(0, 0, 0);
}
#Buttons div#Menu.normal.brown {
  background-image: url(../img/buttons/contents_brown.png);
  color: #562a1d;
}
#Buttons div#Menu.invert {
  background-image: url(../img/buttons/contents_invert.png);
}
#Buttons div#Menu.invert.brown {
  background-image: url(../img/buttons/contents_invert_brown.png);
  color: #562a1d;
}
#Buttons div#Eye.normal {
  background-image: url(../img/buttons/eye.png);
}
#Buttons div#Eye.invert {
  background-image: url(../img/buttons/eye_invert.png);
}
#Buttons div#Text.normal {
  background-image: url(../img/buttons/text.png);
}
#Buttons div#Text.invert {
  background-image: url(../img/buttons/text_invert.png);
}
#Buttons div#Plan.normal {
  background-image: url(../img/buttons/plan.png);
}
#Buttons div#Plan.invert {
  background-image: url(../img/buttons/plan_invert.png);
}
#Buttons div#Audio.normal {
  background-image: url(../img/buttons/audio.png);
}
#Buttons div#Audio.invert {
  background-image: url(../img/buttons/audio_invert.png);
}
#Buttons div#Route.normal {
  background-image: url(../img/buttons/marshrut.png);
}
#Buttons div#Route.invert {
  background-image: url(../img/buttons/marshrut_invert.png);
}
#Buttons div#Photo.normal {
  background-image: url(../img/buttons/photo.png);
}
#Buttons div#Photo.invert {
  background-image: url(../img/buttons/photo_invert.png);
}
#Buttons div#Panorama.normal {
  background-image: url(../img/buttons/panorama.png);
}
#Buttons div#Panorama.invert {
  background-image: url(../img/buttons/panorama_invert.png);
}
#Buttons div#Location.normal {
  background-image: url(../img/buttons/mesto.png);
}
#Buttons div#Location.invert {
  background-image: url(../img/buttons/mesto_invert.png);
}
#Buttons div#Temple.normal {
  background-image: url(../img/buttons/hramy.png);
}
#Buttons div#Temple.invert {
  background-image: url(../img/buttons/closed.png);
  color: transparent;
}
