@import url("../webfonts/PT_Sans_Pro_Narrow_Demi_Regular/stylesheet.css");
@import url("../webfonts/PT_Sans_Pro_Narrow_Light_Regular/stylesheet.css");
@import url("../webfonts/PT_Sans_Pro_Condensed_Demi_Regular/stylesheet.css");
@import url("../webfonts/PT_Serif_Regular/stylesheet.css");

A:link {
	text-decoration: none;
}

A:visited {
	text-decoration: none;
}

A:active {
	text-decoration: none;
}

A:hover {
	text-decoration: none;
}

h1 {
	font-family: 'PT Sans Pro Condensed Demi Regular';
	font-size: 24pt;
	font-weight: normal;
	letter-spacing: 1px;
	border-bottom: 2px solid black;
	position: absolute;
	left: 35px;
	top: 7px;
}

#Body {
	margin: 0px;
	background-color: white;
}

.page_content {
	position: absolute;
	left: 35px;
	right: 130px;
	top: 120px;
	bottom: 60px;
	overflow-y: scroll;
	font-family: "PT Serif Regular";
	font-size: 14pt;
	color: black;
	z-index: 200;
	cursor: default;
	
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

.bottom_hint {
	left: 35px;
	right: 130px;
	bottom: 0px;
	height: 60px;
	position: fixed;
	background-color: white;
	z-index: 201;
}

.bottom_hint .arrow {
	left: 36%;
	position: fixed;
	z-index: 202;
}

.bottom_hint .audio {
	width: 100%;
	height: 100%;
	z-index: 203;
}

.bottom_hint .audio p {
	font-family: "PT Sans Pro Narrow Demi Regular";
	font-size: 12pt;
	position: relative;
	left: 6px;
	color: #a7a9ac;
}

.page {
	background-image: none;
	z-index: 500;
}

.swipe_links {
	display: none;
}


.ui-loading .ui-loader { display: block; }
.ui-loader { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }

.gallery { list-style: none; padding: 0; margin: 0; }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 33.33333333%; }
.gallery li a { display: block; margin: 5px; border: 1px solid #3c3c3c; }
.gallery li img { display: block; width: 100%; height: auto; }
#Gallery .ui-content { overflow: hidden; }

input.ui-slider-input { display : none !important; }
/*
.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page { top: 0; left: 0; width: 100%; min-height: 100%; position: absolute; display: none; border: 0; }
.ui-mobile .ui-page-active { display: block; overflow: visible; }


/* iPads (landscape) ----------- */
/*@media only screen 
   and (min-device-width : 768px) 
   and (max-device-width : 1024px) 
   and (orientation : landscape) {
}*/

/* iPads (portrait) ----------- */
/*@media only screen and (min-device-width : 768px) 
								and (max-device-width : 1024px)
								and (orientation : portrait) {
	#Page01 {
		background-image:url(/img/page01_background_768x1024.jpg);
	}
	
	.Menu_link {
		src:url(/img/circle01_35.png);
	}
}*/

/* iPads Retina (landscape) ----------- */
/*@media only screen 
   and (min-device-width : 1536px) 
   and (max-device-width : 2048px) 
   and (orientation : landscape) {
}*/

/* iPads Retina (portrait) ----------- */
/*@media only screen and (min-device-width : 1536px) 
								and (max-device-width : 2048px)
								and (orientation : portrait) {
	#Page01 {
		background-image:url(../img/page01_background_1536x2048.jpg);
	}

	.Menu_link {
		src:url(/img/circle01_70.png);
	}
}
*/
.red_line {
	padding-left: 40px;
}

.underline {
	border-bottom: 2px solid black;
}

.img_caption {
	font-family: "PT Sans Pro Narrow Demi Regular";
	text-align: center;
}

.invisible {
	display: none;
}

.disabled {
	opacity: 0.3;
}

.button_text {
	font-family: "PT Sans Pro Narrow Demi Regular";
	font-size: 12pt;
	line-height: 15px;
	position: relative;
	left: -10px;
	bottom: -60px;
	text-align: center;
	width: 100px;
}

.icon {
	background-size: contain;
	right: 30px;
	width: 80px;
	height: 80px;
	position: fixed;
	vertical-align: bottom;
	z-index: 1010;
	
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

.menu_icon {
	top: 30px;
}

.plan_icon {
	top: 430px;
}

.audio_icon, .map_get_route_icon {
	top: 530px;
}

.panorama_icon, .map_get_location_icon {
	top: 730px;
}

.play_pause {
	height: 44px;
	width: 30px;
	background-size: contain;
	float: left;
}

.normal_icon { 
	color: #a7a9ac;
}

.invert_icon {
	 color: #a64124; 
}
	
#MenuIcon.normal_icon { background-image: url(../img/buttons/contents.png); }
#MenuIcon.invert_icon { background-image: url(../img/buttons/contents_invert.png); }
#MenuIconBrown.normal_icon { background-image: url(../img/buttons/contents_brown.png); }
#MenuIconBrown.invert_icon { background-image: url(../img/buttons/contents_invert_brown.png); }

#PlanIcon.normal_icon { background-image: url(../img/buttons/plan.png); }
#PlanIcon.invert_icon { background-image: url(../img/buttons/plan_invert.png); }

#AudioIcon.normal_icon { background-image: url(../img/buttons/audio.png); }
#AudioIcon.invert_icon { background-image: url(../img/buttons/audio_invert.png); }

#PanoramaIcon.normal_icon { background-image: url(../img/buttons/panorama.png); }
#PanoramaIcon.invert_icon { background-image: url(../img/buttons/panorama_invert.png); }

#MapGetRouteIcon.normal_icon { background-image: url(../img/buttons/marshrut.png); }
#MapGetRouteIcon.invert_icon { background-image: url(../img/buttons/marshrut_invert.png); }

#MapGetLocactionIcon.normal_icon { background-image: url(../img/buttons/mesto.png); }
#MapGetLocactionIcon.invert_icon { background-image: url(../img/buttons/mesto_invert.png); }


#PlayPauseIcon.normal_icon { background-image: url(../img/audio/play.png); }
#PlayPauseIcon.invert_icon { background-image: url(../img/audio/pause.png); }
