#Page01 {
	background-color: #a83718;
}

.header {
	font-family: 'PT Sans Pro Condensed Demi Regular';
	font-size: 42px;
	color: white;
	border-bottom: 3px solid white;
	position: absolute;
	left: 52px;
	letter-spacing: 1px;
	text-shadow: none;
}

#Header0 {
	font-family: "PT Sans Pro Narrow Light Regular";
	top: -28px;
	letter-spacing: 2px;
}

#Contents {
	padding-top: 350px;
	padding-left: 52px;
	font-family: 'PT Sans Pro Condensed Demi Regular', Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #ffffff;
	width: 250px;
}

.contents_circle {
	width: 35px;
	height: 35px;
	border: 2px solid white;
	border-radius: 50%;
	margin-top: 8px;
	color: white;
}

.contents_number {
	position: relative;
	left: 9px;
	top: 3px;
	color: white;
	text-shadow: none;
	cursor: auto;
	font-weight: normal;
	text-decoration: none;
}

.contents_text {
	position: relative;
	left: 50px;
	top: -28px;
	color: white;
	letter-spacing: 1px;
	width: 220px;
	text-shadow: none;
	cursor: auto;
	font-weight: normal;
	text-decoration: none;
}
