.map_info {
  font-family: "PT Sans Narrow Regular", Verdana, sans-serif;
  padding-top: 8px;
  height: 100%;
}
.map_info #Name {
  font-weight: bold;
}
.map_info p {
  padding-left: 10px;
}
.map_info table {
  font-weight: normal;
  width: 100%;
  border: none;
  vertical-align: bottom;
  color: white;
  text-align: center;
}
.map_info table tr {
  height: 40px;
}
.map_info table tr th {
  color: #a9a9a9;
}
.map_info table tr th.selected {
  color: #b23917;
}
.map_info table tr td {
  color: white;
  background-color: #a9a9a9;
  background-size: 50px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}
.map_info table tr td.selected {
  color: white;
  background-color: #b23917;
}
.map_info table tr td.month {
  width: 40%;
}
.map_info table tr#Up td.day,
.map_info table tr#Up td.month,
.map_info table tr#Up td.year {
  background-image: url(../img/page04/info_up_triangle_grey.png);
  background-color: transparent;
}
.map_info table tr#Up td.day.selected,
.map_info table tr#Up td.month.selected,
.map_info table tr#Up td.year.selected {
  background-image: url(../img/page04/info_up_triangle_red.png);
}
.map_info table tr#Down td.day,
.map_info table tr#Down td.month,
.map_info table tr#Down td.year {
  background-image: url(../img/page04/info_down_triangle_grey.png);
  background-color: transparent;
}
.map_info table tr#Down td.day.selected,
.map_info table tr#Down td.month.selected,
.map_info table tr#Down td.year.selected {
  background-image: url(../img/page04/info_down_triangle_red.png);
}
