#Menu {
	display:none;
}

#MenuIcon {
	background-image: url(../img/contents_126x126.png);
	background-size: contain;
	right: 30px;
	top: 30px;
	width: 63px;
	height: 63px;
	position: absolute;
	vertical-align: bottom;
	cursor: pointer;
	z-index: 1002;
}

#Menu #Dim {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.6;
	z-index: 1000;
}

.menu_rect {
	position: absolute;
	width: 0px;
	height: 0px;
	z-index: 1001;
}

.menu_button {
	cursor: pointer;
	border-radius: 50%;
	color: white;
}

.menu_green {
	background-color: #93C357;
}

.menu_purple {
	background-color: #745AA3;
}

.menu_blue {
	background-color: #165FAA;
}

.menu_cyan {
	background-color: #00A7BD;
}

.menu_rotate {
	-webkit-transform: rotate(-45deg);
}

#Page01Button {left: 387px;	top: 648px;}
#Page02Button {left: 179px;	top: 645px;}
#Page03Button {left: 387px;	top: 445px;}
#Page04Button {left: 490px;	top: 548px;}
#Page05Button {left: 284px;	top: 548px;}
#Page06Button {left: 78px;		top: 548px;}
#Page07Button {left: 78px;		top: 752px;}
#Page08Button {left: 695px;	top: 547px;}
#Page09Button {left: 181px;	top: 855px;}
#Page10Button {left: 387px;	top: 855px;}
#Page11Button {left: 490px;	top: 752px;}
#Page12Button {left: 284px;	top: 342px;}
#Page13Button {left: 387px;	top: 238px;}

#MenuCircle01 {left: 490px;	top: 341px;}
#MenuCircle02 {left: 695px;	top: 768px;}
#MenuCircle03 {left: 181px;	top: 238px;}
#MenuCircle04 {left: 181px;	top: 445px;}

#MenuRect01 {left: 595px;	top: 356px; width: 10px; height: 185px; display: none;}
#MenuRect02 {left: 568px;	top: 542px; width: 80px;  height: 10px; display: none;}
#MenuRect03 {left: 485px;	top: 625px; width: 10px; height: 65px; display: none;}
#MenuRect04 {left: 550px;	top: 748px; width: 100px; height: 10px; display: none;}
#MenuRect05 {left: 690px;	top: 595px; width: 10px; height: 110px; display: none;}
#MenuRect06 {left: 381px;	top: 726px; width: 10px; height: 82px; display: none;}
#MenuRect07 {left: 192px;	top: 758px; width: 165px; height: 10px; display: none;}
#MenuRect08 {left: 174px;	top: 709px; width: 10px; height: 100px; display: none;}
#MenuRect09 {left: 126px;	top: 542px; width: 80px; height: 10px; display: none;}
#MenuRect10 {left: 76px;	top: 595px; width: 10px; height: 110px; display: none;}
#MenuRect11 {left: 380px;	top: 287px; width: 10px; height: 80px; display: none;}
#MenuRect12 {left: 322px;	top: 281px; width: 35px; height: 10px; display: none;}
#MenuRect13 {left: 224px;	top: 266px; width: 10px; height: 35px; display: none;}
#MenuRect14 {left: 177px;	top: 285px; width: 10px; height: 100px; display: none;}

#Text01 {left: 18px; top: 12px; font-size: 43px;}
#Text02 {left: 18px; top: 12px; font-size: 20px;}
#Text03 {left: 20px; top: 15px; font-size: 26px;}
#Text04 {left: 20px; top: 15px; font-size: 38px;}
#Text05 {left: 20px; top: 15px; font-size: 45px;}
#Text06 {left: 6px; top: 15px; font-size: 17px;}
#Text07 {left: 9px; top: 13px; font-size: 20px;}
#Text08 {left: 12px; top: 13px; font-size: 20px;}
#Text09 {left: 12px; top: 11px; font-size: 22px;}
#Text10 {left: 9px; top: 9px; font-size: 22px;}
#Text11 {left: 7px; top: 20px; font-size: 22px;}
#Text12 {left: 22px; top: 13px; font-size: 16px;}
#Text13 {left: 16px; top: 7px; font-size: 16px;}

.menu_text {
	position: relative;
	font-family: 'PT Sans Pro Condensed Demi Regular';
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	text-align: left;
}
