@buttons-width:				100px;
@buttons-size:				80px;

@padding-top-thin:			85px;
@padding-top-thick:			116px;
@padding-top-thick2:		145px;
@padding-right:				126px;
@padding-left-thin:			26px;
@padding-left-thick:		52px;

@header-top:				32px;

@width-portrait:			768px;
@height-portrait:			1024px;

@width-landscape:			1024px;
@height-landscape:			768px;

@hint-height:				45px;

@coord-divisor:				2;
@font-divisor:				2.67;

.invisible { display: none; }

.red_line { padding-left: 70px; }

div#MenuButton {
	top: 40px / @coord-divisor;
	right: @buttons-width - @buttons-size;
}

@font-big: 48px / @coord-divisor;
@font-medium: 35.8px / @coord-divisor;
@font-small: 32px / @coord-divisor;

div#Menu {
	div {
		@menu-offset-left: 170px;
		@menu-offset-top: 40px;
		&#Page01Button {
			left: @menu-offset-left + 278px;
			top: @menu-offset-top + 380px; 
		}
		&#Page02Button {
			left: @menu-offset-left + 89px;
			top: @menu-offset-top + 396px; 
		}
		&#Page03Button {
			left: @menu-offset-left + 278px;
			top: @menu-offset-top + 176px; 
		}
		&#Page04Button {
			left: @menu-offset-left + 381px;
			top: @menu-offset-top + 278px; 
		}
		&#Page05Button {
			left: @menu-offset-left + 175px;
			top: @menu-offset-top + 278px; 
		}
		&#Page06Button {
			left: @menu-offset-left + 0px; 
			top: @menu-offset-top + 309px; 
		}
		&#Page07Button {
			left: @menu-offset-left + 0px; 
			top: @menu-offset-top + 513px; 
		}
		&#Page08Button {
			left: @menu-offset-left + 616px;
			top: @menu-offset-top + 308px; 
		}
		&#Page09Button {
			left: @menu-offset-left + 102px;
			top: @menu-offset-top + 616px; 
		}
		&#Page10Button {
			left: @menu-offset-left + 308px;
			top: @menu-offset-top + 616px; 
		}
		&#Page11Button {
			left: @menu-offset-left + 398px;
			top: @menu-offset-top + 500px; 
		}
		&#Page12Button {
			left: @menu-offset-left + 192px;
			top: @menu-offset-top + 90px; 
		}
		&#Page13Button {
			left: @menu-offset-left + 308px;
			top: @menu-offset-top + 0px; 
		}
		
		&#MenuCircle01 {
			left: @menu-offset-left + 400px;
			top: @menu-offset-top + 90px;
		}
		&#MenuCircle02 {
			left: @menu-offset-left + 616px;
			top: @menu-offset-top + 513px;
		}
		&#MenuCircle03 {
			left: @menu-offset-left + 102px;
			top: @menu-offset-top + 0px;
		}
		&#MenuCircle04 {
			left: @menu-offset-left + 89px;
			top: @menu-offset-top + 192px;
		}
		
		&#MenuRect01 {
			left: @menu-offset-left + 555px;
			top: @menu-offset-top + 156px;
		}
		&#MenuRect02 {
			left: @menu-offset-left + 528px;
			top: @menu-offset-top + 342px;
		}
		&#MenuRect03 {
			left: @menu-offset-left + 445px;
			top: @menu-offset-top + 425px;
		}
		&#MenuRect04 {
			left: @menu-offset-left + 510px;
			top: @menu-offset-top + 548px;
		}
		&#MenuRect05 {
			left: @menu-offset-left + 650px;
			top: @menu-offset-top + 395px;
		}
		&#MenuRect06 {
			left: @menu-offset-left + 341px;
			top: @menu-offset-top + 526px;
		}
		&#MenuRect07 {
			left: @menu-offset-left + 152px;
			top: @menu-offset-top + 558px;
		}
		&#MenuRect08 {
			left: @menu-offset-left + 134px;
			top: @menu-offset-top + 509px;
		}
		&#MenuRect09 {
			left: @menu-offset-left + 86px;
			top: @menu-offset-top + 342px;
		}
		&#MenuRect10 {
			left: @menu-offset-left + 34px;
			top: @menu-offset-top + 395px;
		}
		&#MenuRect11 {
			left: @menu-offset-left + 340px;
			top: @menu-offset-top + 87px;
		}
		&#MenuRect12 {
			left: @menu-offset-left + 282px;
			top: @menu-offset-top + 81px;
		}
		&#MenuRect13 {
			left: @menu-offset-left + 184px;
			top: @menu-offset-top + 66px;
		}
		&#MenuRect14 {
			left: @menu-offset-left + 137px;
			top: @menu-offset-top + 85px;
		}
	}
}

div#Buttons {
	div {
		&#Eye {top: 296px / @coord-divisor;}
		&#Text {top: 531px / @coord-divisor;}
		&#Plan {top: 407px / @coord-divisor;}
		&#Audio {top: 633px / @coord-divisor;}
		&#Photo {top: 860px / @coord-divisor;}
		&#Panorama,&#Route {top: 1085px / @coord-divisor;}
		&#Temple {top: 1310px / @coord-divisor;}
		
		&.popover, &.popover-inner {
			width: 90px + 2*14px;
			height: 70px;
		}

		&.popover-content {
			width: 90px;
			padding: 9px 14px;
			div#External, div#Internal {
				width: 90px;
				height: 30px;
			}
		}
	}
}

div#Temples {
	div {
		margin-left: 70px;
		&:first-child { margin-left: 10px; }
	}
}

@plan05-1-top: 160px / @coord-divisor;
@plan05-1-left: 320px / @coord-divisor;

@plan05-2-top: 0px / @coord-divisor;
@plan05-2-left: 320px / @coord-divisor;

@plan05-3-top: 160px / @coord-divisor;
@plan05-3-left: 320px / @coord-divisor;

@plan05-4-top: 160px / @coord-divisor;
@plan05-4-left: 320px / @coord-divisor;

@plan05-5-top: 150px / @coord-divisor;
@plan05-5-left: 320px / @coord-divisor;

@plan05-6-top: 90px / @coord-divisor;
@plan05-6-left: 320px / @coord-divisor;

div#Pages {
	div#PagesScroller {
		div.page {
			h1 { width: @width-landscape - @padding-left-thick - @buttons-width; }		
			article { padding-top: 44px; }
			div.plan img { width: @width-portrait - @padding-left-thick - @padding-right; }
			&#Page01 {
				@header-top: 320px / @coord-divisor;
				p {
					&#Header1 { top: @header-top; }
					&#Header2 { top: @header-top + 50px; }
					&#Header3 { top: @header-top + 100px; }
					&#Header4 { top: @header-top + 150px; }
				}
				img {
					&:first-of-type {
						left: 810px / @coord-divisor;
						top: @header-top;
						width: 556px;
					}
					&:nth-of-type(2) {
						left: @padding-left-thick;
						top: 810px / @coord-divisor;
						width: 210px;
					}
				}
				div#GetInfo { top: 1318px / @coord-divisor; }
				div#Info {
					@info-size: 307px / @coord-divisor;
					height: @info-size;
					&.active { -webkit-transform: translate3d(0,-(@height-portrait - @height-landscape + @info-size),0); }
					@row1: 85px / @coord-divisor;
					p {
						&#Definition {
							top: @row1;
							left: 1700px / @coord-divisor;
						}
					}
					div {
						@col-shift: 156px / @coord-divisor;
						@col1: 46px;
						@col2: @col1 + @col-shift;
						@col3: @col2 + @col-shift;
						@col4: @col3 + @col-shift;
						@col5: @col4 + @col-shift;
						@col6: @col5 + @col-shift;
						@col7: @col6 + @col-shift;
						@col8: @col7 + @col-shift;
						@col9: @col8 + @col-shift;
						@col10: @col9 + @col-shift;

						&#Menu {
							top: @row1;
							left: @col1;
						}
						&#Temple {
							top: @row1;
							left: @col2; 
						}
						&#Eye {
							top: @row1;
							left: @col3; 
						}
						&#Text {
							top: @row1;
							left: @col4; 
						}
						&#Plan {
							top: @row1;
							left: @col5; 
						}
						&#Audio {
							top: @row1;
							left: @col6; 
						}
						&#Photo {
							top: @row1;
							left: @col7; 
						}
						&#Panorama {
							top: @row1;
							left: @col8; 
						}
						&#Route {
							top: @row1;
							left: @col9; 
						}
						&#Gyroscope {
							top: @row1;
							left: @col10;
						}
					}
				}
			}
			&#Page02 {
				video {
					width: @width-landscape - @padding-left-thin - @padding-right;
					height: (@width-landscape - @padding-left-thin - @padding-right)*1080/1920;
				}
				article { padding-top: 20px; }
			}
			&#Page03 {
				img {
					&.portrait { .invisible; }
					&.landscape {
						padding: (@padding-top-thick + @header-top) 0px 0px @padding-left-thin;
						width: 840px;						
					}
				}
				article {
					padding-top: @padding-top-thick;
					p.portrait { .invisible; }
				}
			}
			&#Page05-1 {
				.plan {
					img {
						padding-top: @plan05-1-top;
						padding-left: @plan05-1-left;
					}
					div.marker#M1 {
						top: @plan05-1-top + 341px;
						left: @plan05-1-left + 120px;
					}
					div.marker#M2 {
						top: @plan05-1-top + 200px;
						left: @plan05-1-left + 344px;
					}
					div.marker#M3 {
						top: @plan05-1-top + 334px;
						left: @plan05-1-left + 444px;
					}
					div.marker#M4 {
						top: @plan05-1-top + 230px;
						left: @plan05-1-left + 493px;
					}
					div.marker#M5 {
						top: @plan05-1-top + 440px;
						left: @plan05-1-left + 493px;
					}
				}
			}
			&#Page05-2 {
				.plan {
					img {
						padding-top: @plan05-2-top;
						padding-left: @plan05-2-left;
					}
					div.marker#M1 {
						top: @plan05-2-top + 443px;
						left: @plan05-2-left + 431px;
					}
					div.marker#M2 {
						top: @plan05-2-top + 312px;
						left: @plan05-2-left + 255px;
					}
					div.marker#M3 {
						top: @plan05-2-top + 443px;
						left: @plan05-2-left + 381px;
					}
					div.marker#M4 {
						top: @plan05-2-top + 477px;
						left: @plan05-2-left + 306px;
					}
					div.marker#M5 {
						top: @plan05-2-top + 174px;
						left: @plan05-2-left + 325px;
					}
					div.marker#M6 {
						top: @plan05-2-top + 443px;
						left: @plan05-2-left + 230px;
					}
					div.marker#M7 {
						top: @plan05-2-top + 367px;
						left: @plan05-2-left + 156px;
					}
				}
			}
			&#Page05-3 {
				.plan {
					img {
						padding-top: @plan05-3-top;
						padding-left: @plan05-3-left;
					}
					div.marker#M1 {
						top: @plan05-3-top + 380px;
						left: @plan05-3-left + 213px;
					}
					div.marker#M2 {
						top: @plan05-3-top + 331px;
						left: @plan05-3-left + 213px;
					}
					div.marker#M3 {
						top: @plan05-3-top + 165px;
						left: @plan05-3-left + 232px;
					}
					div.marker#M4 {
						top: @plan05-3-top + 336px;
						left: @plan05-3-left + 296px;
					}
					div.marker#M5 {
						top: @plan05-3-top + 270px;
						left: @plan05-3-left + 413px;
					}
					div.marker#M6 {
						top: @plan05-3-top + 188px;
						left: @plan05-3-left + 177px;
					}
					div.marker#M7 {
						top: @plan05-3-top + 231px;
						left: @plan05-3-left + 123px;
					}
				}
			}
			&#Page05-4 {
				.portrait { .invisible; }
				.plan {
					img {
						padding-top: @plan05-4-top;
						padding-left: @plan05-4-left;
					}
					div.marker#M1 {
						top: @plan05-4-top + 294px;
						left: @plan05-4-left + 279px;
					}
					div.marker#M2 {
						top: @plan05-4-top + 379px;
						left: @plan05-4-left + 333px;
					}
					div.marker#M3 {
						top: @plan05-4-top + 379px;
						left: @plan05-4-left + 400px;
					}
					div.marker#M4 {
						top: @plan05-4-top + 275px;
						left: @plan05-4-left + 323px;
					}
				}
			}
			&#Page05-5 {
				.portrait { .invisible; }
				.plan {
					img {
						padding-top: @plan05-5-top;
						padding-left: @plan05-5-left;
					}
					div.marker#M1 {
						top: @plan05-5-top + 300px;
						left: @plan05-5-left + 363px;
					}
					div.marker#M2 {
						top: @plan05-5-top + 372px;
						left: @plan05-5-left + 363px;
					}
					div.marker#M3 {
						top: @plan05-5-top + 187px;
						left: @plan05-5-left + 198px;
					}
					div.marker#M4 {
						top: @plan05-5-top + 187px;
						left: @plan05-5-left + 266px;
					}
					div.marker#M5 {
						top: @plan05-5-top + 372px;
						left: @plan05-5-left + 300px;
					}
					div.marker#M6 {
						top: @plan05-5-top + 262px;
						left: @plan05-5-left + 216px;
					}
				}
			}
			&#Page05-6 {
				.plan {
					img {
						padding-top: @plan05-6-top;
						padding-left: @plan05-6-left;
					}
					div.marker#M1 {
						top: @plan05-6-top + 381px;
						left: @plan05-6-left + 236px;
					}
					div.marker#M2 {
						top: @plan05-6-top + 300px;
						left: @plan05-6-left + 236px;
					}
					div.marker#M3 {
						top: @plan05-6-top + 242px;
						left: @plan05-6-left + 338px;
					}
					div.marker#M4 {
						top: @plan05-6-top + 193px;
						left: @plan05-6-left + 385px;
					}
					div.marker#M5 {
						top: @plan05-6-top + 419px;
						left: @plan05-6-left + 146px;
					}
					div.marker#M6 {
						top: @plan05-6-top + 467px;
						left: @plan05-6-left + 256px;
					}
				}
			}
			&#Page06 {
				div {
					&.images-button {
						@shiftX: 290px;
						@shiftY: 280px;
						@row1: @padding-top-thick;
						@row2: @row1 + @shiftY;
						@row3: @row2 + @shiftY;
						@col1: 88px;
						@col2: @col1 + @shiftX;
						@col3: @col2 + @shiftX;
						div {
							&:nth-of-type(1) {
								top: @row1;
								left: @col1;
							}
							&:nth-of-type(2) {
								top: @row1;
								left: @col2;
							}
							&:nth-of-type(3) {
								top: @row1;
								left: @col3;
							}
							&:nth-of-type(4) {
								top: @row2;
								left: @col1;
							}
							&:nth-of-type(5) {
								top: @row2;
								left: @col2;
							}
							&:nth-of-type(6) {
								top: @row2;
								left: @col3;
							}
						}
					}

					@rowsCount: 5;
					@colsCount: 6;
					@previewWidth: 280px / @coord-divisor;
					@previewHeight: 218px / @coord-divisor;
					@padding: 10px;
					@offsetTop: @padding-top-thick2;
					@offsetLeft: @padding-left-thick;
					.divColsLoop (@indexCols) when (@indexCols > 0) {
						@divIndex: (@indexRows - 1) * @colsCount + @indexCols;
						(~"div:nth-of-type(@{divIndex})") {
							top: (@indexRows - 1) * (@previewHeight + @padding) + @offsetTop;
							left: (@indexCols - 1) * (@previewWidth + @padding) + @offsetLeft;
						}
						.divColsLoop(@indexCols - 1);
					}
					.divColsLoop (0) {}

					.divRowsLoop (@indexRows) when (@indexRows > 0) {
						.divColsLoop (@colsCount);
						.divRowsLoop(@indexRows - 1);
					}
					.divRowsLoop (0) {}
					.divRowsLoop (@rowsCount);

					div {
						position: absolute;
						img {
							width: @previewWidth;
							height: @previewHeight;
						}
					}
				}
			}
			&#Page07 {
				div.content div.scroller div.screen div.panorama-button {
					@shiftX: 290px;
					@shiftY: 280px;
					@row1: @padding-top-thick;
					@row2: @row1 + @shiftY;
					@row3: @row2 + @shiftY;
					@col1: 38px;
					@col2: @col1 + @shiftX;
					@col3: @col2 + @shiftX;

					div {
						&:nth-of-type(1) {
							top: @row1;
							left: @col1;
						}
						&:nth-of-type(2) {
							top: @row1;
							left: @col2;
						}
						&:nth-of-type(3) {
							top: @row1;
							left: @col3;
						}
						&:nth-of-type(4) {
							top: @row2;
							left: @col1;
						}
						&:nth-of-type(5) {
							top: @row2;
							left: @col2;
						}
						&:nth-of-type(6) {
							top: @row2;
							left: @col3;
						}
					}
				}
			}
			&#Page08 {
				table {
					padding: 68px @padding-right 0px 230px;
					tr { height: 1.2 * @buttons-size; }
				}
			}
			&#Page09,&#Page10,&#Page12 {
				article { padding-top: @padding-top-thick; }
			}
			&#Page11 {
				img#Info.portrait { .invisible; }
				div {
					left: @padding-left-thick;
					top: 200px;
					img { padding-right: 50px; }
				}
			}
			&#Page13 {
				article {
					padding-top: 62px;
					height: 520px;
					-webkit-column-count: 3;
					p.col2l,p.col3l { -webkit-column-break-before: always; }
				}
				img {
					&:nth-of-type(2) { padding-left: 132px; }
					&:nth-of-type(3) { padding-left: 190px; }
				}
			}
		}
	}
}

div#Hint { width: @width-landscape - @padding-left-thick - @padding-right; }

div#PlanImage {
	table {
		tr#Row2 {
			td {
				div#ImageContent {
					height: @height-landscape - 3*@buttons-size - 10px;
					img#Image { max-height: @height-landscape - 3*@buttons-size - 60; }
				}
			}
		}
		tr#Row4 {
			td {
				div#AudioPlayer {
					width: @width-landscape - @buttons-width;
					div#LayoutSlider{ width: @width-landscape - 2*@padding-left-thick; }
				}
			}
		}
		tr#Row5 {
			td {
				div#Speaker {
					left: 39%;
				}
			}
		}
	}	
}
